.menu.mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Roboto-700;
  font-weight: 100;
  font-style: normal;
  z-index: 1000;
  position: absolute;
  font-size: 20px;
  top: 100px;
  left: 0;
  right: 0;
}
.menu.mobile > a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: black;
  padding: 15px 10px;
  cursor: pointer;
  background-color: #484fb5;
}
.menu.mobile > a:first-child {
  display: none;
}
.menu.mobile > a:not(:first-child) {
  border-top: 1px solid #d3d3d3;
}
.menu.mobile > a:hover {
  background-color: #d3d3d3;
}
.menu.mobile > a.active {
  color: #ffffff;
}
@media screen and (min-width: 950px) {
  .menu.mobile {
    display: none;
  }
}
.menu.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Roboto-100;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
}
.menu.header > a {
  display: block;
  text-decoration: none;
  padding: 10px 7px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  transition: color linear .2s;
  border-bottom: 1px solid #484fb5;
  border-left: 1px solid #c7c9e9;
  border-right: 1px solid #c7c9e9;
}
.menu.header > a:hover {
  color: #484fb5;
}
.menu.header > a.active {
  color: #484fb5;
}
