@import '../../styles/mixins.less';
@import '../../styles/variables.less';
.not-found {
    .flex(column, center, center);
    .font(Roboto-regular, 30px, 100, normal);
    margin: auto;

    h1 {
        font-size: 50px;
        text-transform: uppercase;
        color: @color-1;
    }

    i {
        font-size: 30vh;
        color: red;
    }
}