@import '../../styles/index.less';

.partners {
    .flex(column, center, center);
    padding: 30px;

    >div {
        .flex(row, center, center);
        flex-wrap: wrap;

        img {
            display: block;
            padding: 30px;
        }
    }
}