@import '../styles/index.less';

.font-face(Geometria-NarrowLight, '../assets/fonts/Geometria-NarrowLight', 100, normal);

.footer {
    .flex(row, space-around, center);
    background-color: @color-4;
    height: 80px;

    span {
        .font(Geometria-NarrowLight, 10px, 100, normal);
        color: @color-3;
    }
}