@import '../styles/index.less';

.font-face(Geometria-NarrowLight, '../assets/fonts/Geometria-NarrowLight', 100, normal);
.font-face(Geometria-Narrow, '../assets/fonts/Geometria-Narrow', 100, normal);

.banner {
    background: url('../assets/img/header_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    max-height: 500px;
    margin-bottom: 50px;
}

.border {
    align-self: center;
    height: 1px;
    width: 50vw;
    background-color: @color-1;
}

.container_left-text,
.container_right-text {
    .flex(row, space-between, flex-start);
    color: @color-1;
    padding: 30px 30px 30px 30px;

    .text {
        width: 30%;

        h1 {
            .font(Geometria-NarrowLight, 30px, 100, normal);
            text-transform: uppercase;

            @media screen and (max-width: 950px) {
                font-size: 20px;
            }

            @media screen and (max-width: 600px) {
                font-size: 15px;
            }
        }

        p {
            .font(Geometria-Narrow, 15px, 100, normal);
            text-align: justify;
        }
    }

    .image-container {
        .flex(row, flex-end, flex-start);
        flex-wrap: wrap;
        width: 70%;
        padding-left: 30px;

        @media screen and (max-width: 850px) {
            flex-wrap: wrap;
            padding-left: 0;
        }

        >a {
            text-decoration: none;

            .image {
                // position: relative;
                .flex(row, center, flex-end);
                margin-left: 5px;
                margin-bottom: 15px;
                background-position: center !important;
                background-size: cover !important;
                background-color: @color-1  !important;
                background-repeat: no-repeat !important;
                width: 200px;
                height: 200px;
                transition: all .5s ease;

                &:hover {
                    filter: contrast(200%);
                    .image_label{
                        border-top: 1px solid @color-2;
                        border-left: 1px solid @color-2;
                        border-right: 1px solid @color-2;
                        >div{
                            color: darken(@color-2, 25%);
                        }
                    }
                }

                @media screen and (max-width: 700px) {
                    width: 150px;
                    height: 150px;
                }

                @media screen and (max-width: 500px) {
                    width: 100px;
                    height: 100px;
                }

                .image_label {
                    .font(Geometria-NarrowLight, 30px, 100, normal);
                    .flex(row, center, center);
                    // position: absolute;
                    position: relative;
                    // z-index: 1;
                    font-size: 90%;
                    background-color: @color-3;
                    border-top-left-radius: 100%;
                    border-top-right-radius: 100%;
                    text-transform: lowercase;
                    width: 85%;
                    height: 3%;
                    color:@color-4;

                    @media screen and (max-width: 700px) {
                        font-size: 65%;
                    }

                    @media screen and (max-width: 500px) {
                        font-size: 55%;
                    }

                    >div {
                        text-align: center;
                        position: absolute;
                        bottom: -15px;
                    }
                }
            }
        }
    }
}

.container_right-text {
    .image-container {
        .flex(row, flex-start, flex-start);
        padding-right: 30px;
        padding-left: 0;

        @media screen and (max-width: 850px) {
            padding-right: 0;
        }
    }
}