@import '../styles/index.less';

.font-face(Geometria-NarrowLight, '../assets/fonts/Geometria-NarrowLight', 100, normal);
.font-face(Geometria-Narrow, '../assets/fonts/Geometria-Narrow', 100, normal);

.banner {
    background: url('../assets/img/header_bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 500px;
    margin-bottom: 50px;
}

.container_left-text {
    .flex(row, space-between, stretch);
    color: @color-1;
    padding: 15px 30px 15px 30px;

    .text {
        width: 30%;

        h1 {
            .font(Geometria-NarrowLight, 30px, 100, normal);
            text-transform: uppercase;

            @media screen and (max-width: 950px) {
                font-size: 20px;
            }

            @media screen and (max-width: 600px) {
                font-size: 15px;
            }
        }

        p {
            .font(Geometria-Narrow, 15px, 100, normal);
            text-align: justify;
        }
    }

    .image {
        .flex(row, flex-end, flex-start);
        flex-wrap: no-wrap;
        width: 70%;
        padding-left: 30px;

        @media screen and (max-width: 850px) {
            flex-wrap: wrap;
            padding-left: 0;
        }

        >a>div {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat !important;
            width: 200px;
            height: 200px;
            transition: all 1s ease;

            &:hover {
                -webkit-filter: contrast(200%);
            }

            @media screen and (max-width: 700px) {
                width: 150px;
                height: 150px;
            }
        }
    }
}

.container_right-text {
    .flex(row, space-between, stretch);
    color: @color-1;
    padding: 15px 30px 15px 30px;

    .text {
        width: 30%;

        h1 {
            .font(Geometria-NarrowLight, 30px, 100, normal);
            text-transform: uppercase;

            @media screen and (max-width: 950px) {
                font-size: 20px;
            }

            @media screen and (max-width: 600px) {
                font-size: 15px;
            }
        }

        p {
            .font(Geometria-Narrow, 15px, 100, normal);
            text-align: justify;
        }
    }

    .image {
        .flex(row, flex-start, flex-start);
        flex-wrap: no-wrap;
        width: 70%;
        padding-right: 30px;

        @media screen and (max-width: 850px) {
            flex-wrap: wrap;
            padding-right: 0;
        }

        >a>div {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat !important;
            width: 200px;
            height: 200px;
            transition: all 1s ease;

            &:hover {
                -webkit-filter: contrast(200%);
            }

            @media screen and (max-width: 700px) {
                width: 150px;
                height: 150px;
            }
        }
    }
}