@font-face {
  font-family: Roboto-700;
  src: url('/assets/fonts/roboto/roboto-v20-cyrillic_latin-700.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto-regular;
  src: url('/assets/fonts/roboto/roboto-v20-cyrillic_latin-regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto-100;
  src: url('/assets/fonts/roboto/roboto-v20-cyrillic_latin-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Geometria-Narrow;
  src: url('/assets/fonts/Geometria-Narrow.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
