.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.panel .panel_calc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.panel .panel_calc .panel_calc_size {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-y {
  position: relative;
  height: 150px;
  width: 150px;
  margin-top: 50px;
  margin-right: 70px;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-y .input-y {
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  position: absolute;
  bottom: 52px;
  left: -64px;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-y .panel_calc_banner {
  background: url('http://lorempixel.com/150/250');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 150px;
  position: absolute;
  top: 0;
  right: -140px;
  border-radius: 4px;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-y .slider-y_label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: -40px;
  left: -10px;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-y .slider-y_label > div {
  font-family: Roboto-regular;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  color: black;
  padding-left: 5px;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-x {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 310px;
  padding-top: 10px;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-x .slider-x_label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.panel .panel_calc .panel_calc_size .panel_calc_slider-x .slider-x_label > div {
  font-family: Roboto-regular;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  color: black;
  padding-left: 5px;
}
.panel .panel_calc .panel_calc_template-cost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.panel .panel_calc .panel_calc_template-cost .panel_calc_template-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto-regular;
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  padding: 20px 10px 0px 80px;
}
@media screen and (max-width: 800px) {
  .panel .panel_calc .panel_calc_template-cost .panel_calc_template-title {
    padding: 20px 5px 0 20px;
  }
}
.panel .panel_calc .panel_calc_template-cost > .border {
  margin: 20px;
}
.panel .panel_calc .panel_calc_template-cost .panel_calc_template {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.panel .panel_calc .panel_calc_template-cost .panel_calc_template img {
  width: 250px;
  height: 150px;
}
@media screen and (max-width: 550px) {
  .panel .panel_calc .panel_calc_template-cost .panel_calc_template img {
    width: 200px;
    height: 110px;
  }
}
.panel .panel_calc .panel_calc_template-cost .panel_calc_template .about-title {
  font-family: Roboto-700;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 960px) {
  .panel .panel_calc .panel_calc_template-cost .panel_calc_template .about-title {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  .panel .panel_calc .panel_calc_template-cost .panel_calc_template .about-title {
    font-weight: normal;
  }
}
.panel .panel_calc .panel_calc_template-cost .panel_calc_template .calc_template-panel_cost {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.panel .panel_calc .panel_calc_template-cost .panel_calc_template .calc_template-panel_cost > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.panel .panel_calc .panel_calc_template-cost .panel_discription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Roboto-regular;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
}
.panel .panel_calc .panel_calc_template-cost .panel_discription span {
  padding-bottom: 5px;
  font-size: 10px;
}
.panel .panel_calc .panel_calc_template-cost .panel_discription span:first-child {
  font-size: 12px;
}
