.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto-regular;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  padding: 30px;
}
.price > a {
  padding: 5px;
}
.price .price__table {
  padding: 10px;
  border: 1px solid black;
}
.price .price__table tr:first-child {
  display: none;
}
.price .price__table tr .heading {
  display: none;
}
