@import '../../styles/index.less';

.form-feedback {
    position: fixed;
    transform: translatex(-50%);
    top: 5px;
    left: 50%;
    padding: 0px 0px;
    z-index: 100;

    form {
        .flex(column, flex-start, center) !important;
        position: absolute;
        // top: -200px;
        border-radius: 4px;
        z-index: 110;
        background-color: @color-3;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 4px;
        padding: 5px 10px;

        label {
            font-size: 13px;
        }

        .modal_textarea {
            .flex(column, flex-start, flex-start);
            width: 300px;
            // height: 100px;
            margin-bottom: 5px;

            textarea {
                width: 100%;
                height: 60px;
                font-size: 12px;
            }

            span {
                font-size: 11px;
            }
        }

        .modal-buttons {
            >button {
                margin-left: 25px;
                // margin-top: 20px;
            }
        }
    }
}