@import '../../styles/index.less';

.form-feedback{
    .flex(column, center, center) !important;
    position: fixed;
    top: 100px;
    width: 320px;
    height: 400px;
    z-index: 100;
    background-color: @color-3;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 4px;
    padding: 10px;
}