@import '../../styles/index.less';

.input-form{
    span{
        color: red;
        font-size: 12px;
        font-weight: bold;
    }
    &.invalid{
        label{
            color: red;
        }
    }
}